[submodule ".plugin-sources/Ribbonp"]
	path = .plugin-sources/Ribbonp
	url = git@github.com:aar0nTw/Ribbonp.git
[submodule ".plugin-sources/octopress-post-revision"]
	path = .plugin-sources/octopress-post-revision
	url = git@github.com:jhshi/octopress-post-revision.git
[submodule ".plugin-sources/portfolio-jekyll-plugin"]
	path = .plugin-sources/portfolio-jekyll-plugin
	url = git@github.com:eduncan911/portfolio-jekyll-plugin.git
[submodule ".plugin-sources/jekyll-tweet-tag"]
	path = .plugin-sources/jekyll-tweet-tag
	url = https://github.com/scottwb/jekyll-tweet-tag.git
