{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en-US"><!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <title>Eric Duncan - eduncan911</title>
  <meta name="author" content="Eric Duncan" />
  <meta name="description" content="Software Engineer" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320" />
  <meta property="og:site_name" content="Eric Duncan" />
  <meta property="og:type" content="article" />
  <link rel="canonical" href="http://eduncan911.com/preview/index.html" />
  <link rel="alternate" type="application/atom+xml" title="eduncan911 &raquo; feed"  href="/atom.xml">
  <link rel="shortcut icon" href="/favicon.png" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" type="text/css" />
  <link rel='stylesheet' href='/stylesheets/foo.casper.css?ver=1.0' type='text/css' media='all' id='casper-style-css' />

  <style type="text/css">
    header .blog-title a, header .blog-description { 
      color: #ffffff; 
      text-transform: lowercase;
    } 
  </style>
  <script src="/javascripts/modernizr-2.0.js"></script>
</head>
<body class="home blog">

  <header id="masthead" role="banner" class="site-head site-header">
    <div class="vertical" itemscope itemtype="http://schema.org/Article">
      <div class="site-head-content inner" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <h1 class="blog-title" itemprop="name"><a class="blog-logo" href='http://eduncan911.com/' rel='home'>Eric Duncan</a></h1>
        <h2 class="blog-description" itemprop="jobtitle">Software Engineer</h2>
        <meta itemprop="givenname" content="Eric" />
        <meta itemprop="familyname" content="Duncan" />
        <meta itemprop="affiliation" content="eduncan911" />
      </div>
    </div>
  </header>

  <main id="content" class="content" role="main">
    
    <article id="post-17568" class="post-17568 post type-post status-publish format-standard hentry category-schweeeet" itemscope itemtype="http://schema.org/Article">
      <header class="post-header">
        <span class="post-meta"><span class="posted-on"><time class="entry-date published date updated" datetime="2014-04-22T14:05:38+00:00" itemprop="datePublished" content="2014-04-22T14:05:38+00:00">April 22, 2014</time></span><span class="byline"> by <span class="author vcard"><a class="url fn n" href="https://plus.google.com/+EricDuncan911?rel=author">Eric Duncan</a></span></span> in <a href="http://eduncan911.com/schweeeet/" title="schweeeet" rel="category tag">schweeeet</a></span>

        <h1 class="post-title entry-title" itemprop="name"><a href="http://eduncan911.com/schweeeet/titty-tuesday-59/" rel="bookmark">Titty Tuesday</a></h1>
        <meta itemprop="url" content="http://eduncan911.com/schweeeet/titty-tuesday-59/" />
      </header>

      <section class="post-content" itemprop="articleBody">
        <p>thought i&#8217;d take a quick moment out of my day for a funbag moment.</p>
        <p><img src="http://www.forgetfoo.me/images/blog/ichiban-298716.jpg" class="pic"></p>
        <p><img src="http://www.forgetfoo.me/images/blog/BlD2cTVIgAALszn.jpg" class="pic"></p>
        <p>my twitter feed&#8217;s been overrun with mentions of &#8220;earth day&#8221;, which is apparently today&#8230; so&#8230; ummm, yeah&#8230; dunno why, but does Earth Day seem a little cheesy at this point or is it just me?</p>
        <blockquote>
          <p>Use yari instead of RVM/rbenv</p>
          <p>Scott Muc has written yari which lets you switch between Windows Ruby versions.</p>
          <footer>
            <strong>Robert Anderson</strong> 
            <cite><a href="http://blog.zerosharp.com/setting-up-octopress-on-windows-again/">Setting Up Octopress on Windows Again</a></cite>
          </footer>
        </blockquote>
        <p>my twitter feed&#8217;s been overrun with mentions of &#8220;earth day&#8221;, which is apparently today&#8230; so&#8230; ummm, yeah&#8230; dunno why, but does Earth Day seem a little cheesy at this point or is it just me?</p>


        <figure class="code"><figcaption><span>RakeFile</span></figcaption><div class="highlight"><table><tbody><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">1</span>
<span class="line-number">2</span>
<span class="line-number">3</span>
<span class="line-number">4</span>
<span class="line-number">5</span>
<span class="line-number">6</span>
<span class="line-number">7</span>
<span class="line-number">8</span>
<span class="line-number">9</span>
<span class="line-number">10</span>
<span class="line-number">11</span>
<span class="line-number">12</span>
<span class="line-number">13</span>
<span class="line-number">14</span>
<span class="line-number">15</span>
<span class="line-number">16</span>
<span class="line-number">17</span>
<span class="line-number">18</span>
<span class="line-number">19</span>
<span class="line-number">20</span>
<span class="line-number">21</span>
<span class="line-number">22</span>
<span class="line-number">23</span>
<span class="line-number">24</span>
<span class="line-number">25</span>
<span class="line-number">26</span>
<span class="line-number">27</span>
<span class="line-number">28</span>
<span class="line-number">29</span>
<span class="line-number">30</span>
<span class="line-number">31</span>
<span class="line-number">32</span>
<span class="line-number">33</span>
<span class="line-number">34</span>
<span class="line-number">35</span>
<span class="line-number">36</span>
<span class="line-number">37</span>
<span class="line-number">38</span>
<span class="line-number">39</span>
<span class="line-number">40</span>
<span class="line-number">41</span>
<span class="line-number">42</span>
<span class="line-number">43</span>
<span class="line-number">44</span>
<span class="line-number">45</span>
<span class="line-number">46</span>
<span class="line-number">47</span>
<span class="line-number">48</span>
<span class="line-number">49</span>
<span class="line-number">50</span>
<span class="line-number">51</span>
<span class="line-number">52</span>
<span class="line-number">53</span>
<span class="line-number">54</span>
<span class="line-number">55</span>
<span class="line-number">56</span>
<span class="line-number">57</span>
<span class="line-number">58</span>
<span class="line-number">59</span>
</pre></td><td class="code"><pre><code class="ruby"><span class="line"><span class="n">desc</span> <span class="s2">"Set up _deploy folder and deploy branch for Github Pages deployment"</span>
</span><span class="line"><span class="n">task</span> <span class="ss">:setup_github_pages</span><span class="p">,</span> <span class="ss">:repo</span> <span class="k">do</span> <span class="o">|</span><span class="n">t</span><span class="p">,</span> <span class="n">args</span><span class="o">|</span>
</span><span class="line">  <span class="k">if</span> <span class="n">args</span><span class="o">.</span><span class="n">repo</span>
</span><span class="line">    <span class="n">repo_url</span> <span class="o">=</span> <span class="n">args</span><span class="o">.</span><span class="n">repo</span>
</span><span class="line">  <span class="k">else</span>
</span><span class="line">    <span class="nb">puts</span> <span class="s2">"Enter the read/write url for your repository"</span>
</span><span class="line">    <span class="nb">puts</span> <span class="s2">"(For example, 'git@github.com:your_username/your_username.github.io.git)"</span>
</span><span class="line">    <span class="nb">puts</span> <span class="s2">"           or 'https://github.com/your_username/your_username.github.io')"</span>
</span><span class="line">    <span class="n">repo_url</span> <span class="o">=</span> <span class="n">get_stdin</span><span class="p">(</span><span class="s2">"Repository url: "</span><span class="p">)</span>
</span><span class="line">  <span class="k">end</span>
</span><span class="line">  <span class="n">protocol</span> <span class="o">=</span> <span class="p">(</span><span class="n">repo_url</span><span class="o">.</span><span class="n">match</span><span class="p">(</span><span class="sr">/(^git)@/</span><span class="p">)</span><span class="o">.</span><span class="n">nil?</span><span class="p">)</span> <span class="p">?</span> <span class="s1">'https'</span> <span class="p">:</span> <span class="s1">'git'</span>
</span><span class="line">  <span class="k">if</span> <span class="n">protocol</span> <span class="o">==</span> <span class="s1">'git'</span>
</span><span class="line">    <span class="n">user</span> <span class="o">=</span> <span class="n">repo_url</span><span class="o">.</span><span class="n">match</span><span class="p">(</span><span class="sr">/:([^\/]+)/</span><span class="p">)</span><span class="o">[</span><span class="mi">1</span><span class="o">]</span>
</span><span class="line">  <span class="k">else</span>
</span><span class="line">    <span class="n">user</span> <span class="o">=</span> <span class="n">repo_url</span><span class="o">.</span><span class="n">match</span><span class="p">(</span><span class="sr">/github\.com\/([^\/]+)/</span><span class="p">)</span><span class="o">[</span><span class="mi">1</span><span class="o">]</span>
</span><span class="line">  <span class="k">end</span>
</span><span class="line">  <span class="n">branch</span> <span class="o">=</span> <span class="p">(</span><span class="n">repo_url</span><span class="o">.</span><span class="n">match</span><span class="p">(</span><span class="sr">/\/[\w-]+\.github\.(?:io|com)/</span><span class="p">)</span><span class="o">.</span><span class="n">nil?</span><span class="p">)</span> <span class="p">?</span> <span class="s1">'gh-pages'</span> <span class="p">:</span> <span class="s1">'master'</span>
</span><span class="line">  <span class="n">project</span> <span class="o">=</span> <span class="p">(</span><span class="n">branch</span> <span class="o">==</span> <span class="s1">'gh-pages'</span><span class="p">)</span> <span class="p">?</span> <span class="n">repo_url</span><span class="o">.</span><span class="n">match</span><span class="p">(</span><span class="sr">/\/([^\.]+)/</span><span class="p">)</span><span class="o">[</span><span class="mi">1</span><span class="o">]</span> <span class="p">:</span> <span class="s1">''</span>
</span><span class="line">  <span class="k">unless</span> <span class="p">(</span><span class="sb">`git remote -v`</span> <span class="o">=~</span> <span class="sr">/origin.+?octopress(?:\.git)?/</span><span class="p">)</span><span class="o">.</span><span class="n">nil?</span>
</span><span class="line">    <span class="c1"># If octopress is still the origin remote (from cloning) rename it to octopress</span>
</span><span class="line">    <span class="nb">system</span> <span class="s2">"git remote rename origin octopress"</span>
</span><span class="line">    <span class="k">if</span> <span class="n">branch</span> <span class="o">==</span> <span class="s1">'master'</span>
</span><span class="line">      <span class="c1"># If this is a user/organization pages repository, add the correct origin remote</span>
</span><span class="line">      <span class="c1"># and checkout the source branch for committing changes to the blog source.</span>
</span><span class="line">      <span class="nb">system</span> <span class="s2">"git remote add origin </span><span class="si">#{</span><span class="n">repo_url</span><span class="si">}</span><span class="s2">"</span>
</span><span class="line">      <span class="nb">puts</span> <span class="s2">"Added remote </span><span class="si">#{</span><span class="n">repo_url</span><span class="si">}</span><span class="s2"> as origin"</span>
</span><span class="line">      <span class="nb">system</span> <span class="s2">"git config branch.master.remote origin"</span>
</span><span class="line">      <span class="nb">puts</span> <span class="s2">"Set origin as default remote"</span>
</span><span class="line">      <span class="nb">system</span> <span class="s2">"git branch -m master source"</span>
</span><span class="line">      <span class="nb">puts</span> <span class="s2">"Master branch renamed to 'source' for committing your blog source files"</span>
</span><span class="line">    <span class="k">else</span>
</span><span class="line">      <span class="k">unless</span> <span class="o">!</span><span class="n">public_dir</span><span class="o">.</span><span class="n">match</span><span class="p">(</span><span class="s2">"</span><span class="si">#{</span><span class="n">project</span><span class="si">}</span><span class="s2">"</span><span class="p">)</span><span class="o">.</span><span class="n">nil?</span>
</span><span class="line">        <span class="nb">system</span> <span class="s2">"rake set_root_dir[</span><span class="si">#{</span><span class="n">project</span><span class="si">}</span><span class="s2">]"</span>
</span><span class="line">      <span class="k">end</span>
</span><span class="line">    <span class="k">end</span>
</span><span class="line">  <span class="k">end</span>
</span><span class="line">  <span class="n">jekyll_config</span> <span class="o">=</span> <span class="no">IO</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="s1">'_config.yml'</span><span class="p">)</span>
</span><span class="line">  <span class="n">jekyll_config</span><span class="o">.</span><span class="n">sub!</span><span class="p">(</span><span class="sr">/^url:.*$/</span><span class="p">,</span> <span class="s2">"url: </span><span class="si">#{</span><span class="n">blog_url</span><span class="p">(</span><span class="n">user</span><span class="p">,</span> <span class="n">project</span><span class="p">)</span><span class="si">}</span><span class="s2">"</span><span class="p">)</span>
</span><span class="line">  <span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="s1">'_config.yml'</span><span class="p">,</span> <span class="s1">'w'</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
</span><span class="line">    <span class="n">f</span><span class="o">.</span><span class="n">write</span> <span class="n">jekyll_config</span>
</span><span class="line">  <span class="k">end</span>
</span><span class="line">  <span class="n">rm_rf</span> <span class="n">deploy_dir</span>
</span><span class="line">  <span class="n">mkdir</span> <span class="n">deploy_dir</span>
</span><span class="line">  <span class="n">cd</span> <span class="s2">"</span><span class="si">#{</span><span class="n">deploy_dir</span><span class="si">}</span><span class="s2">"</span> <span class="k">do</span>
</span><span class="line">    <span class="nb">system</span> <span class="s2">"git init"</span>
</span><span class="line">    <span class="nb">system</span> <span class="s2">"echo 'My Octopress Page is coming soon &amp;hellip;' &gt; index.html"</span>
</span><span class="line">    <span class="nb">system</span> <span class="s2">"git add ."</span>
</span><span class="line">    <span class="nb">system</span> <span class="s2">"git commit -m </span><span class="se">\"</span><span class="s2">Octopress init</span><span class="se">\"</span><span class="s2">"</span>
</span><span class="line">    <span class="nb">system</span> <span class="s2">"git branch -m gh-pages"</span> <span class="k">unless</span> <span class="n">branch</span> <span class="o">==</span> <span class="s1">'master'</span>
</span><span class="line">    <span class="nb">system</span> <span class="s2">"git remote add origin </span><span class="si">#{</span><span class="n">repo_url</span><span class="si">}</span><span class="s2">"</span>
</span><span class="line">    <span class="n">rakefile</span> <span class="o">=</span> <span class="no">IO</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="bp">__FILE__</span><span class="p">)</span>
</span><span class="line">    <span class="n">rakefile</span><span class="o">.</span><span class="n">sub!</span><span class="p">(</span><span class="sr">/deploy_branch(\s*)=(\s*)(["'])[\w-]*["']/</span><span class="p">,</span> <span class="s2">"deploy_branch</span><span class="se">\\</span><span class="s2">1=</span><span class="se">\\</span><span class="s2">2</span><span class="se">\\</span><span class="s2">3</span><span class="si">#{</span><span class="n">branch</span><span class="si">}</span><span class="se">\\</span><span class="s2">3"</span><span class="p">)</span>
</span><span class="line">    <span class="n">rakefile</span><span class="o">.</span><span class="n">sub!</span><span class="p">(</span><span class="sr">/deploy_default(\s*)=(\s*)(["'])[\w-]*["']/</span><span class="p">,</span> <span class="s2">"deploy_default</span><span class="se">\\</span><span class="s2">1=</span><span class="se">\\</span><span class="s2">2</span><span class="se">\\</span><span class="s2">3push</span><span class="se">\\</span><span class="s2">3"</span><span class="p">)</span>
</span><span class="line">    <span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="bp">__FILE__</span><span class="p">,</span> <span class="s1">'w'</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
</span><span class="line">      <span class="n">f</span><span class="o">.</span><span class="n">write</span> <span class="n">rakefile</span>
</span><span class="line">    <span class="k">end</span>
</span><span class="line">  <span class="k">end</span>
</span><span class="line">  <span class="nb">puts</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">---</span><span class="se">\n</span><span class="s2">## Now you can deploy to </span><span class="si">#{</span><span class="n">repo_url</span><span class="si">}</span><span class="s2"> with `rake deploy` ##"</span>
</span><span class="line"><span class="k">end</span>
</span></code></pre></td></tr></tbody></table></div></figure>

        <p>my twitter feed&#8217;s been overrun with mentions of &#8220;earth day&#8221;, which is apparently today&#8230; so&#8230; ummm, yeah&#8230; dunno why, but does Earth Day seem a little cheesy at this point or is it just me?</p>


      </section>

      <section class="collapsable history">
        <h3><a class="collapsable-trigger" href="#">&gt; Revision History</a></h3>
        <ul class="byline">
          <li><strong>Sun Apr 13 02:12:51 2014</strong><br>added even more justifications</li>
          <li><strong>Wed Apr 9 23:21:24 2014</strong><br>published page live</li>
          <li><strong>Wed Apr 9 22:57:50 2014</strong><br>added few more reasons</li>
          <li><strong>Tue Apr 8 19:26:00 2014</strong><br>new post</li>
        </ul>
      </section>

      <section class="collapsable author">
        <h3><a class="collapsable-trigger" href="#">&gt; About the author</a></h3>
        <p class="byline">Eric has been in a wide variety of software development roles with 18+ years experience developing and managing technologies for several industries such as prepaid card services, advertising, legal and manufacturing. He is a pioneer of open-sourced social networking and communication solutions.</p>
      </section>

      <section class="collapsable author">
        <h3><a class="collapsable-trigger" href="#">&gt; Related Posts</a></h3>
        <p class="byline">(coming soon)</p>
      </section>

      <section class="post-comment">
        <span class="comments-link"><a href="http://eduncan911.com/schweeeet/titty-tuesday-59/#respond" title="Comment on Titty Tuesday">Leave a comment</a></span>
      </section>
    </article>

    <nav class="pagination navigation paging-navigation" role="navigation">
      <div class="nav-links">
        <div class="older-posts"><a href="http://eduncan911.com/blog/page/2/" >Older Posts</a></div>
        <div class="page-number">Page 1 of 1149</div>
        <div class="newer-posts"><a href="http://eduncan911.com/blog/" >Newer Posts</a></div>
      </div>
    </nav>

    <footer id="colophon" class="site-footer" role="contentinfo">
      <a class="subscribe icon-feed" href="http://www.forgetfoo.me/feed/"><span class="tooltip">Subscribe!</span></a>
      <div><a href="http://eduncan911.com/blog/archives">Archives</a></div>
      <div><a href="http://eduncan911.com/buymeabeer">Buy Me a Beer</a></div>
      <div><a href="http://eduncan911.com/blogtegrity">Blogtegrity</a></div>
      <div><a href="http://eduncan911.com/privacy">Privacy</a></div>
      <div>&nbsp;</div>
      <div class="site-info inner"><section class="copyright">© 2014 Eric Duncan <a href="http://creativecommons.org/licenses/by/2.5/">CC BY 2.5</a></section></div>
      <div>a <a href="http://www.forgetfoo.me/" title="one of a 100 kickass designs by this guy">forgetfoo</a> design</div>
    </footer>

  </main>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="./javascripts/libs/jquery.min.js"%3E%3C/script%3E'))</script>
  <script type='text/javascript' src='/javascripts/foo.casper.js?ver=20140422'></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3705711-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
