---
layout: default
---
    <article class="post type-post status-publish format-standard hentry category-schweeeet" itemscope itemtype="http://schema.org/Article">
{% if page.title %}      <header class="post-header">   
        <span class="post-meta">
{% if page.date %}{% include foo.casper/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}{% endif %}
{% if page.author %}{% include foo.casper/author.html %}{% endif %}
{% if page.categories %}{% include foo.casper/categories.html %}{% endif %}  
        </span>
        {% if index %}<h1 class="post-title entry-title" itemprop="name"><a href="{{ root_url }}{{ post.url }}" rel="bookmark">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
        {% else %}<h1 class="post-title entry-title" itemprop="name"><a href="{{ root_url }}{{ post.url }}" rel="bookmark">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</a></h1>{% endif %}
        <meta itemprop="url" content="{{ root_url }}{{ post.url }}" />
      </header>{% endif %}
      <section class="post-content" itemprop="articleBody">

<!-- BEGIN MARKDOWN CONTENT: I can't control the formatting here, bleh -->      
{{ content }}
<!-- END MARKDOWN CONTENT -->

     {% unless index %}<section class="collapsable history">
        <h5><a class="collapsable-trigger" href="#">&gt; Revision History</a></h5>
        {% revision limit:5 %}
      </section>{% endunless %}

      </section>
{% unless page.footer == false %}{% if site.disqus_short_name and page.comments == true %}
      <section class="post-comment">
        <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
      </section>
{% endif %}{% endunless %}
    </article>