---
layout: default
single: true
---
    <article class="post type-post status-publish format-standard hentry category-schweeeet" itemscope itemtype="http://schema.org/Article">
      <header class="post-header">   
        <span class="post-meta">
{% include foo.casper/date.html %}
{% include foo.casper/author.html %}
{% include foo.casper/categories.html %}
        </span>
        {% if index %}<h1 class="post-title entry-title" itemprop="name"><a href="{{ root_url }}{{ post.url }}" rel="bookmark">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
        {% else %}<h1 class="post-title entry-title" itemprop="name"><a href="{{ root_url }}{{ post.url }}" rel="bookmark">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</a></h1>{% endif %}
        <meta itemprop="url" content="{{ root_url }}{{ post.url }}" />
      </header>
      <section class="post-content" itemprop="articleBody">
{{ content }}
      </section>

      <section class="collapsable history">
        <h4><a class="collapsable-trigger" href="#">&gt; Revision History</a></h4>
        {% revision limit:5 %}
      </section>

      <section class="collapsable author">
        <h4><a class="collapsable-trigger" href="#">&gt; About the author</a></h4>
        <p class="post-metadata">{{ site.about_author }}</p>
      </section>

      <!-- <section class="collapsable author">
        <h4><a class="collapsable-trigger" href="#">&gt; Related Posts</a></h4>
        <p class="post-metadata">(coming soon)</p>
      </section> -->

      <nav class="pagination navigation paging-navigation" role="navigation">
        <div class="nav-links">
          {% if page.next.url %}<div class="older-posts"><a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a></div>{% endif %}
          {% if page.previous.url %}<div class="newer-posts"><a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a></div>{% endif %}
        </div>
      </nav>
{% if site.disqus_short_name and page.comments == true %}
      <section class="post-comment">
        <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
      </section>
{% endif %}
    </article>